@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #d9d9d9;
  --foreground: #1c1c1c;
  --heading: #3e5c76;
  --button: #146c94;
}

.dark {
  --background: #1c1c1c;
  --foreground: #d9d9d9;
  --heading: #146c94;
  --button: #3e5c76;
}

body {
  @apply h-screen bg-[var(--background)] text-[var(--foreground)] transition-colors duration-150;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
}
