@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary: #499b9f;
  --secondary: #3e5c76;
  --dark: #1c1c1c;
  --light: #ffffff;
}

.dark {
  --primary: #499b9f;
  --secondary: #3e5c76;
  --light: #1c1c1c;
  --dark: #ffffff;
}

body {
  @apply h-screen bg-[var(--light)] text-[var(--dark)] transition-colors duration-150;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }
}
